.offerCard {
    position: relative;

    padding: 12px 20px;
    background: #eee;
    border-radius: 6px;
    margin-top: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    .offerName {
        font-size: .9rem;
    }
    .offerPrice {
        color: rgb(0, 107, 66);
    }
}
